<div class="container">
  <div class="row">
    <% breweries.each.with_index(1) do |brewery, index| %>
      <div class="col-md-4">
        <div class="card mb-4 position-relative">
          <div class="card-body">
            <h5 class="card-title"><%= brewery["name"] %></h5>
            <p class="card-text"><%= brewery["city"] %>, <%= brewery["state"] %></p>
          </div>
          <span class="number-budge badge badge-dark position-absolute"><%= index %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style>
    .number-budge {
        top: 10px;
        right: 10px;
    }
</style>
